# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.env
.env.local

/backend/.env.example

# Node
node_modules/
.next/
out/

# DB files

pdf_hash.txt
page_hashes.json

# OS
.DS_Store
Thumbs.db
# Logs
logs/
*.log
fall2025.pdf